<h2>People</h2>
<a class="btn btn-primary btn-sm" href="#!create">Добовить новый запись</a>
<h3>Table</h3>
<div class="table-wrapper">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" ng-repeat="field in fields">{{field}}</th>
      <th scope="col">Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="person in people" class="table-row">
      <th scope="col">{{$index+1}}</th>
      <td ng-repeat="field in person">{{field}}</td>
      <td><a ng-click="deleteById(index)" class="link-btn">Удалить</a></td>
    </tr>
    </tbody>
  </table>
</div>

<br/>
<br/>

<h3>Block</h3>

<div class="block-wrapper">
  <div class="block" ng-repeat="person in people">
    <div class="text">
      {{$index+1}}
    </div>
    <div class="text"ng-repeat="field in person">
      {{field}}
    </div>
  </div>
</div>
